/ {
    aliases {
        cspkissuart = &usart2;
        uartdma = &dma1;
        cputemp = &die_temp;
    };
};

&usart2 {
    status = "okay";
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
	current-speed = <115200>;
    dmas = <&dma1 6 4 STM32_DMA_PERIPH_TX STM32_DMA_FIFO_FULL>, <&dma1 7 6 STM32_DMA_PERIPH_RX STM32_DMA_FIFO_FULL>;
    dma-names = "tx", "rx";
};

&dma1 {
    status = "okay";
};

&die_temp {
    status = "okay";
};
